.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 68px;
  padding: 30px;
  background-color: var(--background-color3);
}

.search {
  position: relative;
  display: flex;
  align-items: center;
}

.search input {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  width: 380px;
  height: 44px;
  position: relative;
  padding-left: 56px;
  padding-right: 30px;
  color: var(--white-color);
  background: var(--dark-color);
  border-radius: 10px;
  outline: none;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
}

.searchIcon {
  position: absolute;
  left: 19px;
}

.options {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 24px;
  width: 253px;
  height: 48px;
}

.langNotify {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 122px;
  height: 48px;
}

.languageSelect {
  position: relative;
  display: flex;
  align-items: center;
  font-family: 'Roboto';
  font-weight: 400;
}

.languageSelect select {
  cursor: pointer;
  padding-right: 24px;
  font-size: 16px;
  line-height: 19px;
  color: var(--grey-color3);
  padding: 5px;
  background-color: var(--background-color3);
  outline: none;
}

.profileWrapper {
  position: relative;
}

.online {
  position: absolute;
  bottom: 0;
  right: 0;
}

.profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 10px;
  gap: 12px;
  width: 107px;
  height: 48px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
}

.profileDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
  gap: 4px;
  width: 35px;
  height: 30px;
}

.name {
  width: 34px;
  height: 14px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  color: var(--white-color);
}

.specialty {
  width: 35px;
  height: 12px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  color: var(--grey-color4);
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white-color);
  width: 107px;
  height: 48px;
}
